@model Products.Product

@{
    ViewBag.Title = "Edit Product";
}

<h1>Product</h1>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    @Html.HiddenFor(p => p.ProductId)

    <div class="form-group">
        @Html.LabelFor(p => p.ProductName)
        @Html.EditorFor(p => p.ProductName)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.ProductCount)
        @Html.EditorFor(p => p.ProductCount)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.ProductPrice)
        @Html.EditorFor(p => p.ProductPrice)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
}
